{% if title -%}
	{{ '🔥' if type === 'failure' }}{{ '⚠' if type === 'warning' }}{{ '✅' if type === 'success' }}{{ 'ℹ' if type === 'info' }} *{{ type | upper }}* {{ '🔥' if type === 'failure' }}{{ '⚠' if type === 'warning' }}{{ '✅' if type === 'success' }}{{ 'ℹ' if type === 'info' }}
{% endif %}

{{ body }}
